[Unit]
Description=Random Lights for Fadecandy
Requires=fadecandy

[Service]
ExecStart=/usr/lib/fc-effects/bunch-of-random.pl
Restart=on-abort

[Install]
WantedBy=multi-user.target
